<ng-container [formGroup]="formGroup">
  <ng-container *ngFor="let group of form.groups">
    <ng-container *ngIf="!group.hidden">
      <div>
        <h2 *ngIf="group.title">{{ group.title }}</h2>
      </div>
      <div nz-row nzGutter="16">
        <ng-container *ngFor="let field of group.fields; let i = index">
          <div nz-col class="gutter-row form-item" [nzSpan]="field?.span">
            <label for="field{{ i }}" translate
              ><b>{{ field?.title }}<span style="color: red" *ngIf="field?.isRequired"> *</span></b></label
            >
            <ng-container *ngIf="inputMode" [ngSwitch]="field.type">
              <div *ngSwitchCase="'select'">
                <nz-select
                  style="width: 100%"
                  (ngModelChange)="handleInputChange(field, $event)"
                  [(ngModel)]="field.value"
                  [nzPlaceHolder]="field.description"
                  [formControlName]="field.name"
                  [ngClass]="{
                    'has-error': formGroup.controls[field.name].invalid && formGroup.controls[field.name].dirty,
                    'has-success': formGroup.controls[field.name].valid && formGroup.controls[field.name].dirty
                  }"
                >
                  <nz-option *ngFor="let option of field.options" [nzValue]="option.value" [nzLabel]="option.label">
                  </nz-option>
                </nz-select>
              </div>
              <div *ngSwitchCase="'checkBox'">
                <nz-checkbox-group
                  [formControlName]="field.name"
                  [(ngModel)]="field.options"
                  (ngModelChange)="handleInputChange(field, $event)"
                ></nz-checkbox-group>
              </div>
              <div *ngSwitchCase="'radio'">
                <nz-radio-group
                  [(ngModel)]="field.value"
                  [formControlName]="field.name"
                  (ngModelChange)="handleInputChange(field, $event)"
                >
                  <label nz-radio *ngFor="let option of field.options" [nzValue]="option.value">{{
                    option.label
                  }}</label>
                </nz-radio-group>
              </div>
              <div *ngSwitchCase="'search'">
                <nz-select
                  style="width: 100%"
                  nzShowSearch
                  [nzPlaceHolder]="field.description"
                  [(ngModel)]="field.value"
                  [nzShowArrow]="false"
                  (ngModelChange)="handleInputChange(field, $event)"
                  (nzOnSearch)="currentSearchedField = field; optionsSearch.next($event)"
                  [formControlName]="field.name"
                  [ngClass]="{
                    'has-error': formGroup.controls[field.name].invalid && formGroup.controls[field.name].dirty,
                    'has-success': formGroup.controls[field.name].valid && formGroup.controls[field.name].dirty
                  }"
                >
                  <nz-option
                    *ngFor="let option of field.options"
                    [nzLabel]="option.label"
                    [nzValue]="option.value"
                  ></nz-option>
                </nz-select>
              </div>
              <div *ngSwitchCase="'textArea'">
                <textarea
                  id="field{{ i }}"
                  nz-input
                  [attr.placeholder]="field.description"
                  [(ngModel)]="field.value"
                  (change)="handleInputChange(field, $event)"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                  [formControlName]="field.name"
                  [ngClass]="{
                    'has-error': formGroup.controls[field.name].invalid && formGroup.controls[field.name].dirty,
                    'has-success': formGroup.controls[field.name].valid && formGroup.controls[field.name].dirty
                  }"
                >
                </textarea>
              </div>
              <div *ngSwitchDefault>
                <nz-input-group
                  [nzSuffix]="suffix"
                  [ngClass]="{
                    'has-error': formGroup.controls[field.name].invalid && formGroup.controls[field.name].dirty,
                    'has-success': formGroup.controls[field.name].valid && formGroup.controls[field.name].dirty
                  }"
                >
                  <input
                    [attr.type]="field.type"
                    [(ngModel)]="field.value"
                    (change)="handleInputChange(field, $event)"
                    nz-input
                    [attr.placeholder]="field.description"
                    [formControlName]="field.name"
                  />
                </nz-input-group>
              </div>
            </ng-container>
            <div class="field-value" *ngIf="!inputMode">
              <span *ngIf="field.type !== 'date'">{{ field?.value }}</span>
              <span *ngIf="field.type === 'date'">{{ field?.value | formatDate }}</span>
            </div>
            <ng-template #suffix>
              <i nz-icon [nzType]="field?.iconName"></i>
            </ng-template>
            <p
              *ngIf="formGroup.controls[field.name].invalid && formGroup.controls[field.name].dirty && inputMode"
              translate
            >
              {{ field.validationMessage }}
            </p>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <nz-button-group *ngIf="form.submitButtonText && inputMode" [ngClass]="form.submitButtonClass">
    <button nz-button *ngIf="showCancelButton" [nzShape]="'round'" (click)="toggleEdit()">Cancel</button>
    <button
      nz-button
      [disabled]="formGroup.invalid"
      [nzShape]="'round'"
      (click)="handleSubmitForm()"
      [nzType]="'primary'"
    >
      {{ form.submitButtonText }}
    </button>
  </nz-button-group>
  <!--<button nz-button
          nz-dropdown
          nzTrigger="click"
          *ngIf="form.submitButtonText && editMode"
          [ngClass]="form.submitButtonClass"
          [nzDropdownMenu]="actions"
          [nzPlacement]="'bottomCenter'">
    {{ form.submitButtonText }}
  </button>
  <nz-dropdown-menu #actions="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <button nz-button
                nzBlock
                (click)="handleSubmitForm()"
                [disabled]="formGroup.invalid"
                nzType="primary">
          {{ form.submitButtonText }}
        </button>
      </li>
      <li nz-menu-item>
        <button nz-button nzBlock nzType="default" (click)="toggleEdit()">
          Cancel
        </button>
      </li>
    </ul>
  </nz-dropdown-menu>-->
  <button
    *ngIf="form.submitButtonText && !inputMode && showEditButton"
    nz-button
    [nzType]="'primary'"
    [nzShape]="'round'"
    [ngClass]="form.submitButtonClass"
    (click)="toggleEdit()"
  >
    {{ form.editButtonText }}
  </button>
</ng-container>
<app-loader [isLoading]="isLoading" [message]="loadingMessage"></app-loader>
