<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm($event)">
  <div nz-row [nzGutter]="[16, 16]">
   <app-field-generator [formItems]="formItems" [timeDefaultValue]="timeDefaultValue" [validateForm]="validateForm" (addMetaFieldEvent)="addMetaField($event)"></app-field-generator>
  </div>

  <nz-form-item class="m-t-30">
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{ submitButtonText }}</button>
    </nz-form-control>
  </nz-form-item>
</form>
