.add-icon {
  font-size: 30px;
  margin-top: 0;
  cursor: pointer;
  margin-left: 12px;
}

.minus-icon {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 12px;
  cursor: pointer;
}
[nz-radio] {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}
