<div nz-row>
  <div nz-col nzSpan="24">
    <app-custom-table
      [loading]="isLoading"
      [showPagination]="false"
      [showCustomActions]="true"
      [showSearch]="false"
      [listOfCustomActions]="actions"
      [listOfData]="patientsTable.rows"
      [listOfColumn]="patientsTable.columns"
      (onAction)="handleActionClick($event)"
      [showButton]="true"
      [buttonText]="'Create Patient'"
      (onButton)="handleCreatePatient()"
    >
    </app-custom-table>
  </div>
  <!--<div nz-col nzSpan="4">
    <nz-card>
      <app-field-generator
        (inputChange)="handleInputChange($event)"
        (submitFields)="submit($event)"
        [form]="patientForms.searchForm"
      >
      </app-field-generator>
    </nz-card>
  </div>-->
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Delete Patient"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="deletePatient()"
  [nzOkLoading]="isOkLoading"
>
  <p>
    Are you sure you want to delete
    <b>{{ patients[currentPatientIndex]?.firstName }} {{ patients[currentPatientIndex]?.lastName }}</b
    >? This action is irreversible
  </p>
</nz-modal>
