<article nz-row [nzGutter]="20">
  <section nz-col nzSpan="12" class="questionnaires">
    <app-questionnaire-selection
      [selectedQuestionnaires]="selectedQuestionnaires"
      (selectionChange)="selectedQuestionnaires = $event"
    ></app-questionnaire-selection>
  </section>
  <section nz-col nzSpan="12">
    <form nz-form [formGroup]="asessmentForm" (submit)="onSubmitAssessment()">
      <nz-form-item>
        <nz-form-label>Assessment name</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="patient">Patient</nz-form-label>
        <nz-form-control>
          <app-patient-picker
            [selectedPatient]="selectedPatient"
            (selectPatient)="onPatientSelect($event)"
          ></app-patient-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="clinician">Clinician</nz-form-label>
        <nz-form-control>
          <app-user-picker
            [assignSelfOption]="true"
            [selectedUser]="selectedClinician"
            (selectUser)="onUserSelect($event)"
          ></app-user-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Informant</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="informant" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
</article>

<!-- <div nz-row [nzGutter]="16">
  <div nz-col nzSpan="16">
    <nz-card nzTitle="Add Questionnaires or Groups of questionnaire" [nzExtra]="addQuestionnaire">
      <nz-card class="added-questionnaire-card" *ngFor="let questionnaire of addedQuestionnaires; let i = index">
        <div nz-row>
          <div nz-col nzSpan="18">
            <span>{{ questionnaire.name }}</span>
          </div>
          <div nz-col nzSpan="6" class="text-right">
            <nz-button-group [nzSize]="'small'">
              <button
                [nzTooltipTitle]="questionnaire.description"
                [nzTooltipPlacement]="'bottom'"
                [nzShape]="'circle'"
                nz-button
                nz-tooltip
              >
                <i nz-icon [nzType]="'exclamation-circle'" [nzTheme]="'outline'"></i>
              </button>
              <button [nzShape]="'circle'" nz-button (click)="removeAddedQuestionnaires(i)">
                <i nz-icon [nzType]="'close'" [nzTheme]="'outline'"></i>
              </button>
            </nz-button-group>
          </div>
        </div>
      </nz-card>
    </nz-card>
    <ng-template #addQuestionnaire>
      <button nz-button [nzType]="'primary'" [nzShape]="'round'" (click)="handleAddQuestionaire()">
        Add Questionnaire Group
      </button>
    </ng-template>
  </div>
  <div nz-col nzSpan="8">
    <nz-card>
      <app-form
        class="mt-3"
        [form]="planAssessmentForm"
        [isLoading]="isLoading"
        [loadingMessage]="loadingMessage"
        [showCancelButton]="showCancelButton"
        [inputMode]="inputMode"
        (searchOptions)="handleSearchOptions($event)"
        (inputChange)="handleInputChange($event)"
        (submitForm)="submitForm($event)"
      >
      </app-form>
    </nz-card>
  </div>
</div>

<nz-modal
  [nzWidth]="600"
  [(nzVisible)]="modalIsVisible"
  nzTitle="Add Questionnaires"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzOkLoading]="modalIsLoading"
>
  <nz-input-group class="rounded-input" [nzSuffix]="suffixTemplate">
    <input type="text" (keyup)="questionnaireSearch.next($event)" nz-input placeholder="search Questionnaires" />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i nz-icon nzType="search" nzTheme="outline"></i>
  </ng-template>
  <ul nz-list [nzBordered]="false" [nzDataSource]="questionnaires" nzBordered nzSize="large">
    <li nz-list-item *ngFor="let questionnaire of questionnaires" nzNoFlex>
      <div nz-row>
        <div nz-col nzSpan="16">{{ questionnaire.name }}</div>
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="4">
          <button
            (click)="selectQuestionnaire(questionnaire)"
            class="assign-button"
            nz-button
            [nzType]="'primary'"
            [nzSize]="'small'"
            [nzShape]="'round'"
          >
            Add
          </button>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #modalFooter> </ng-template>
</nz-modal> -->
