.added-questionnaire-card {
  margin-bottom: 15px;
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    i {
      font-size: 23px;
    }
  }
  button:first-child {
    color: #89d080;
  }
  button:last-child {
    color: #f1b0b0;
  }
}

::ng-deep {
  .full-width {
    width: 100%;
  }
}
