<article nz-row [nzGutter]="20">
  <section nz-col nzSpan="12" class="questionnaires">
    <app-questionnaire-selection
      [readonly]="!editMode"
      [selectedQuestionnaires]="selectedQuestionnaires"
      (selectionChange)="onQuestionnaireSelected($event)"
    ></app-questionnaire-selection>
  </section>
  <section nz-col nzSpan="12">
    <form nz-form [formGroup]="assessmentForm" (submit)="onSubmitAssessment()">
      <nz-form-item>
        <nz-form-label>Assessment name</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="name" [readonly]="!editMode" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="patient">Patient</nz-form-label>
        <nz-form-control>
          <app-patient-picker
            [selectedPatient]="selectedPatient"
            [readonly]="!editMode"
            (selectPatient)="onPatientSelect($event)"
          ></app-patient-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="clinician">Clinician</nz-form-label>
        <nz-form-control>
          <app-user-picker
            [assignSelfOption]="true"
            [readonly]="!editMode"
            [selectedUser]="selectedClinician"
            (selectUser)="onUserSelect($event)"
          ></app-user-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Informant</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="informant" [readonly]="!editMode" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <ng-container *ngIf="editMode">
            <button nz-button nzType="primary" [disabled]="!assessmentForm.valid">Submit</button>
            <button nz-button type="button" (click)="editMode = !editMode" *ngIf="fullAssessment">Cancel</button>
          </ng-container>
          <button
            nz-button
            nzType="primary"
            type="button"
            *ngIf="!editMode && perms.permissionsOnly(PK.MANAGE_ASSESSMENTS)"
            (click)="editMode = !editMode"
          >
            Edit
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
</article>
