<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="loading"
  [actions]="actions"
  [pageInfo]="pageInfo"
  (pageChange)="onPageChange($event)"
  (executeAction)="onAction($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
>
  <ng-container actions-left>
    <app-master-data-search (search)="searchDepartments($event)"></app-master-data-search>
  </ng-container>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="updatePatientDepartment(ActionKey.ADD_DEPARTMENT)"
      *ngIf="perms.permissionsOnly([PK.MANAGE_PATIENTS])"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>
