<div class="side-nav" sideNav>
  <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngIf="perms.permissionsOnly(item.permissions)">
        <li *ngIf="item.submenu.length == 0" nz-menu-item nz-tooltip nzTitle="item.title">
          <a [routerLink]="item.path" *ngIf="item.submenu.length === 0">
            <i nz-icon nzType="{{ item.icon }}" nzTheme="{{ item.iconTheme }}"></i>
            <span *ngIf="!isCollapsed" [translate]="item.title"></span>
          </a>
        </li>
        <li *ngIf="item.submenu.length > 0" nz-submenu>
          <span title>
            <i nz-icon nzType="{{ item.icon }}" nzTheme="{{ item.iconTheme }}"></i>
            <span *ngIf="!isCollapsed" [translate]="item.title"></span>
          </span>
          <ul>
            <ng-container *ngFor="let submenu of item.submenu">
              <ng-container *ngIf="perms.permissionsOnly(submenu.permissions)">
                <li *ngIf="submenu.submenu.length === 0" nz-menu-item [routerLink]="submenu.path">
                  <span [translate]="submenu.title"></span>
                </li>
                <li *ngIf="submenu.submenu.length > 0" nz-submenu class="no-padding">
                  <span title>
                    <i nz-icon nzType="{{ submenu.icon }}" nzTheme="{{ submenu.iconTheme }}"></i>
                    <span *ngIf="!isCollapsed" [translate]="submenu.title"></span>
                  </span>
                  <ul>
                    <ng-container *ngFor="let subsubmenu of submenu.submenu">
                      <ng-container *ngIf="perms.permissionsOnly(subsubmenu.permissions)">
                        <li nz-menu-item [routerLink]="subsubmenu.path">
                          <span [translate]="subsubmenu.title"></span>
                        </li>
                      </ng-container>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>
