<nz-card nzTitle="{{ managerType }} ({{ managersTable.rows.length }})" [nzExtra]="addManager">
  <div nz-row>
    <div nz-col nzSpan="24">
      <app-custom-table
        [loading]="isLoading"
        [showPagination]="false"
        [showNext]="false"
        [showCustomActions]="true"
        [showSearch]="false"
        [listOfCustomActions]="actions"
        [listOfData]="managersTable.rows"
        [listOfColumn]="managersTable.columns"
        [showCheckBoxColumn]="false"
        (onAction)="handleActionClick($event)"
        [showButton]="false"
      >
      </app-custom-table>
    </div>
  </div>
</nz-card>
<ng-template #addManager>
  <button nz-button (click)="handleAssign()" nzType="primary" *ngIf="perms.permissionsOnly('manage patients')">
    Add {{ managerType }} to patient
  </button>
</ng-template>
<nz-modal
  [nzWidth]="600"
  [(nzVisible)]="isVisible"
  nzTitle="Assign {{ managerType }} to {{ patient?.firstName }} {{ patient?.lastName }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleCancel()"
  [nzOkLoading]="isOkLoading"
>
  <nz-input-group class="rounded-input" [nzSuffix]="suffixTemplate">
    <input
      type="text"
      (keyup)="searchUsers()"
      ([ngModel])="(searchKeyword)"
      nz-input
      placeholder="search {{ managerType }} name"
    />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i nz-icon nzType="search" nzTheme="outline"></i>
  </ng-template>
  <ul nz-list [nzBordered]="false" [nzDataSource]="users" nzBordered nzSize="large">
    <li nz-list-item *ngFor="let user of users" nzNoFlex>
      <div nz-row>
        <div nz-col nzSpan="8">{{ user?.firstName }} {{ user?.lastName }}</div>
        <div nz-col nzSpan="12">{{ user?.email }}</div>
        <div nz-col nzSpan="4">
          <button
            class="assign-button"
            nz-button
            nzType="primary"
            (click)="assignManager(user)"
            nzSize="small"
            nzShape="round"
          >
            Assign
          </button>
        </div>
      </div>
    </li>
  </ul>
</nz-modal>
