<nz-select
  nzShowSearch
  nzServerSearch
  nzAllowClear
  nzPlaceHolder="Search..."
  [nzShowArrow]="false"
  [(ngModel)]="selectedPatient"
  (ngModelChange)="patientChanged"
  [compareWith]="comparePatients"
  *ngIf="!readonly; else plainText"
>
  <nz-option
    *ngFor="let patient of patients"
    [nzValue]="patient"
    [nzLabel]="patient?.firstName + ' ' + patient?.lastName"
  ></nz-option>
</nz-select>

<ng-template #plainText>
  {{ selectedPatient?.firstName + ' ' + selectedPatient?.lastName }}
</ng-template>
