<button nz-button routerLink="/mhira/questionnaire-management/questionnaire-bundles-list" nzType="secondary">{{'emailTemplates.goBack' | translate}}</button>
<div nz-row>
    <div nz-col nzSpan="24">
        <form nz-form [formGroup]="bundleForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">{{'emailTemplates.name' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input placeholder="{{'emailTemplates.selectBundleName' | translate}}" formControlName="name" nz-input name="name" type="text" id="name">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">{{'emailTemplates.questionnaires' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <app-questionnaire-selection 
                        [selectedQuestionnaires]="selectedQuestionnaires"
                        (selectionChange)="onQuestionnaireSelected($event)">
                    </app-questionnaire-selection>
                </nz-form-control>
              </nz-form-item >
            <nz-form-item>
              <nz-form-label [nzSpan]="6">{{'emailTemplates.departments' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="14">
                  <nz-checkbox-wrapper style="width: 100%; margin-top: 5px;" (nzOnChange)="selectDepartments($event)">
                      <label style="align-items: center;" [ngModel]="bundleHasDepartment(option.id)" [ngModelOptions]="{standalone: true}" *ngFor="let option of listOfDepartments" [nzValue]="option.id" nz-checkbox>{{option.name | translate}}</label>
                  </nz-checkbox-wrapper><br><br>
              </nz-form-control>
            </nz-form-item>
            <button *ngIf="!isUpdateMode" (click)="onFormSubmit()" nz-button type="submit" nzType="primary">{{'emailTemplates.submit' | translate}}</button>
            <button *ngIf="isUpdateMode" (click)="onFormUpdateSubmit()" nz-button nzType="primary">Update</button>
        </form>
    </div>
</div>

