<button nz-button routerLink="/mhira/administration/email-templates" nzType="secondary">Go back</button>
<div nz-row>
    <div nz-col nzSpan="24">
        <form nz-form [formGroup]="emailForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">Name</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input formControlName="name" nz-input name="name" type="text" id="name">
              </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Subject</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <input formControlName="subject" nz-input name="subject" type="text" id="subject">
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Body</nz-form-label>
                <nz-form-control [nzSpan]="14">
                  <angular-editor [config]="editorConfig" [placeholder]="'Enter email body here...'" formControlName="body"></angular-editor>
                </nz-form-control>
            </nz-form-item >
            <nz-form-item>
                <nz-form-label [nzSpan]="6">Status</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select formControlName="status" nzShowSearch nzAllowClear nzPlaceHolder="Select active or inactive">
                        <nz-option nzLabel="Active" nzValue="ACTIVE"></nz-option>
                        <nz-option nzLabel="Inactive" nzValue="INACTIVE"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item >
            <!-- <nz-form-item>
                <nz-form-label [nzSpan]="6">Module</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select formControlName="module" nzShowSearch nzAllowClear nzPlaceHolder="Select module">
                        <nz-option nzLabel="Client" nzValue="CLIENT"></nz-option>
                        <nz-option nzLabel="Assessment" nzValue="ASSESSMENT"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item > -->
            <button *ngIf="!isUpdateMode" (click)="onFormSubmit()" nz-button type="submit" nzType="primary">Submit</button>
            <button *ngIf="isUpdateMode" (click)="onFormUpdateSubmit()" nz-button nzType="primary">Update</button>
        </form>
    </div>
</div>
