<div nz-row>
  <div nz-col nzSpan="24">
    <app-table
      [loading]="isLoading"
      [showPagination]="false"
      [showCustomActions]="true"
      [showSearch]="false"
      [showCheckBoxColumn]="false"
      [listOfCustomActions]="perms.permissionsOnly(PK.MANAGE_ROLES_PERMISSIONS) ? actions : []"
      [listOfData]="rolesTable.rows"
      [listOfColumn]="rolesTable.columns"
      [showButton]="perms.permissionsOnly(PK.MANAGE_ROLES_PERMISSIONS)"
      [buttonText]="'rolesPermissions.createRole' | translate"
      [hasNextPage]="pageInfo?.hasNextPage"
      [hasPreviousPage]="pageInfo?.hasPreviousPage"
      (onNext)="navigatePages('next')"
      (onPrevious)="navigatePages('previous')"
      (onAction)="handleActionClick($event)"
      (rowClick)="handleRowClick($event)"
      (onButton)="toggleCreatePanel()"
    >
    </app-table>
  </div>
</div>

<nz-drawer
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showCreateRole"
  nzPlacement="right"
  [nzTitle]="panelTitle | translate"
  (nzOnClose)="closeCreatePanel()"
>
  <app-form
    class="mt-3"
    [form]="roleForms"
    [formData]="role"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [inputMode]="inputMode"
    [showCancelButton]="showCancelButton"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
  >
  </app-form>
</nz-drawer>
