<nz-layout>
  <nz-content>
    <div class="form-container">
      <div class="app-logo">
        <img src="../../../assets/images/logo.svg" />
        <h1 translate>APP_NAME</h1>
      </div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div nz-row class="form-title">
          <div nz-col nzSpan="8">
            <div class="line"></div>
          </div>
          <div nz-col nzSpan="8">
            <p>Change Password</p>
          </div>
          <div nz-col nzSpan="8">
            <div class="line"></div>
          </div>
        </div>
        <div class="errors" *ngIf="hasErrors">
          <nz-alert *ngFor="let error of errors" nzType="error" [nzDescription]="error" nzShowIcon></nz-alert>
        </div>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="currentPassword" placeholder="Current Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="New Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="repeatPassword" placeholder="Repeat New Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzLoading]="isLoading" [nzType]="'primary'">
          Change Password
        </button>
      </form>
    </div>
  </nz-content>
</nz-layout>
