<h1 *ngIf="userTitle">{{ userTitle }}</h1>

<nz-tabset>
  <nz-tab nzTitle="Profile">
    <app-form
      [form]="profileFields"
      [formData]="user"
      [resetForm]="resetForm"
      [populateForm]="populateForm"
      [isLoading]="isLoading"
      [loadingMessage]="loadingMessage"
      [inputMode]="inputMode"
      [showCancelButton]="showCancelButton"
      [showEditButton]="perms.permissionsOnly([PK.MANAGE_USERS]) && perms.hasAccessLevelToUser(user)"
      [form]="profileFields"
      (submitForm)="submitForm($event)"
    ></app-form>
  </nz-tab>
  <nz-tab nzTitle="Settings">
    <div nz-row nzGutter="16">
      <div *ngIf="roles.length > 0" nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user?.firstName }}'s Roles">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let role of roles">
                <label
                  [disabled]="
                    !perms.permissionsOnly([PK.MANAGE_USERS]) ||
                    !perms.hasAccessLevelToUser(user) ||
                    !perms.hasAccessLevelToRole(role)
                  "
                  nz-checkbox
                  [nzValue]="role.id"
                  [ngModel]="userHasRole(role.id)"
                  (ngModelChange)="assignRoleToUser(role, $event)"
                  >{{ role.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user?.firstName }}'s {{'core.departments' | translate}}">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let department of departments">
                <label
                  nz-checkbox
                  [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
                  [nzValue]="department.id"
                  [ngModel]="userHasDepartment(department.id)"
                  (ngModelChange)="assignDepartmentToUser(department, $event)"
                  >{{ department.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
      </div>

      <div nz-col>
        <nz-card style="width: 300px" nzTitle="{{'core.enableDisable' | translate}} {{ user?.firstName }}">
          <p>{{ 'core.enable' | translate }} {{ user?.firstName }}{{ 'core.disable' | translate }}</p>
          <nz-switch
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (ngModelChange)="activateUser(user)"
            [(ngModel)]="user.active"
          ></nz-switch>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Change {{ user?.firstName }}'s password">
          <p> {{'core.toChange' | translate}} {{ user.firstName }} {{ 'core.toChange2' | translate}} </p>
          <button
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="showChangePasswordForm()"
            nz-button
            nzType="primary"
          >
            {{'core.change' | translate}}
          </button>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="{{'core.delUser' | translate}} {{ user?.firstName }} ({{ user?.username }})">
          <p>{{'core.removeUser' | translate}} {{ user?.firstName }} {{'core.toggle' | translate}}</p>
          <button
            [disabled]="!perms.permissionsOnly([PK.DELETE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="handleDeleteAction(user)"
            nz-button
            nzType="danger"
          >
            {{'core.deleteUser' | translate}}
          </button>
        </nz-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>

<nz-modal
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="clickChangePassword()"
>
  <app-form
    [form]="updatePasswordForm"
    [formData]="user"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [showSubmitButton]="false"
    [showCancelButton]="false"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
  ></app-form>
</nz-modal>
