<h1 *ngIf="userTitle">{{ userTitle }}</h1>

<nz-tabset>
  <nz-tab nzTitle="Profile">
    <app-form
      [form]="profileFields"
      [formData]="user"
      [resetForm]="resetForm"
      [populateForm]="populateForm"
      [isLoading]="isLoading"
      [loadingMessage]="loadingMessage"
      [inputMode]="inputMode"
      [showCancelButton]="showCancelButton"
      [showEditButton]="perms.permissionsOnly([PK.MANAGE_USERS]) && perms.hasAccessLevelToUser(user)"
      [form]="profileFields"
      (submitForm)="submitForm($event)"
    ></app-form>
  </nz-tab>
  <nz-tab nzTitle="Settings">
    <div nz-row nzGutter="16">
      <div *ngIf="roles.length > 0" nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user?.firstName }}'s Roles">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let role of roles">
                <label
                  [disabled]="
                    !perms.permissionsOnly([PK.MANAGE_USERS]) ||
                    !perms.hasAccessLevelToUser(user) ||
                    !perms.hasAccessLevelToRole(role)
                  "
                  nz-checkbox
                  [nzValue]="role.id"
                  [ngModel]="userHasRole(role.id)"
                  (ngModelChange)="assignRoleToUser(role, $event)"
                  >{{ role.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user?.firstName }}'s Departments">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let department of departments">
                <label
                  nz-checkbox
                  [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
                  [nzValue]="department.id"
                  [ngModel]="userHasDepartment(department.id)"
                  (ngModelChange)="assignDepartmentToUser(department, $event)"
                  >{{ department.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
      </div>

      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Enable or Disable {{ user?.firstName }}">
          <p>To disable and Enable {{ user?.firstName }} toggle the switch below.</p>
          <nz-switch
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (ngModelChange)="activateUser(user)"
            [(ngModel)]="user.active"
          ></nz-switch>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Change {{ user?.firstName }}'s password">
          <p>To change password for {{ user.firstName }} toggle the button below.</p>
          <button
            [disabled]="!perms.permissionsOnly([PK.MANAGE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="showChangePasswordForm()"
            nz-button
            nzType="primary"
          >
            Change Password
          </button>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card style="width: 300px" nzTitle="Delete User {{ user?.firstName }} ({{ user?.username }})">
          <p>To remove User {{ user?.firstName }} toggle the button below.</p>
          <button
            [disabled]="!perms.permissionsOnly([PK.DELETE_USERS]) || !perms.hasAccessLevelToUser(user)"
            (click)="handleDeleteAction(user)"
            nz-button
            nzType="danger"
          >
            Delete User
          </button>
        </nz-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>

<nz-modal [(nzVisible)]="showModal" [nzTitle]="modalType?.title" (nzOnCancel)="handleCancel()" (nzOnOk)="(false)">
  <app-form
    [form]="updatePasswordForm"
    [formData]="user"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [showSubmitButton]="false"
    [showCancelButton]="false"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
  ></app-form>
  <div class="button-div">
    <button nz-button nzType="default" class="cancel-button" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" class="modal-button" (click)="clickChangePassword()">Change Password</button>
  </div>
</nz-modal>
