<div nz-row>
  <div nz-col nzSpan="6" class="patient-details">
    <h4>Jon Konjufca</h4>
    <h3>ID: 1234-543242</h3>
  </div>
  <div nz-col nzSpan="16" class="questionnaire-name">
    <h2>{{ questionnaire.name }}-</h2>
  </div>
  <div nz-col nzSpan="2" class="questionnaire-details">
    <span [nzTooltipTitle]="questionnaire.description" nz-tooltip>
      <i nz-icon [nzType]="'exclamation-circle'" [nzTheme]="'outline'"></i>
    </span>
  </div>
</div>

<div nz-row class="mt-3">
  <div nz-col nzSpan="24">
    <app-question
      [question]="questionnaire?.questions[currentQuestionIndex]"
      (getNextQuestion)="getNextQuestion()"
      (getPreviousQuestion)="getPreviousQuestion()"
    >
    </app-question>
  </div>
</div>
