<article>
  <section class="actions">
    <div>
      <ng-content select="[actions-left]"></ng-content>
    </div>
    <div>
      <ng-content select="[actions-right]"></ng-content>
    </div>
  </section>
  <section class="list">
    <app-master-data-table
      [data]="data"
      [columns]="columns"
      [loading]="loading"
      [contextMenu]="contextMenu"
      [(context)]="context"
      (rowClick)="rowClick.emit($event)"
      (sort)="sort.emit($event)"
    ></app-master-data-table>
  </section>

  <footer class="paging">
    <button
      nzShape="round"
      [disabled]="!this.pageInfo?.hasPreviousPage"
      (click)="onPageChange('prev')"
      nz-button
      nzType="primary"
    >
      Previous
    </button>
    <button
      nzShape="round"
      [disabled]="!this.pageInfo?.hasNextPage"
      (click)="onPageChange('next')"
      nz-button
      nzType="primary"
    >
      Next
    </button>
  </footer>

  <nz-dropdown-menu #contextMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let action of actions" (click)="onSelectAction(action)">{{ action.title }}</li>
    </ul>
  </nz-dropdown-menu>
</article>
