:host {
  display: block;
  height: 100%;
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section.actions {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.list {
  flex: 1 1 auto;
}

section + section {
  margin-top: 2em;
}

.paging {
  display: flex;
  justify-content: space-between;
}
