nz-header {
  position: fixed;
  width: 100%;
  background-color: #f1f4ff;
}

nz-content {
  margin-top: 64px;
  background: #fff;
}

.inner-content {
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}
