.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

[nz-radio] {
  display: block;
}

.table-row {
  cursor: pointer;
}

.loadingSpinner {
  position: absolute;
  text-align: center;
  top: 50%;
  padding-top: 5px;
  font-size: 2em;
  text-shadow: 0 1px 2px #fff;
}
