<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="isLoading"
  [pageInfo]="pageInfo"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
  (rowClick)="handleRowClick($event)"
>
  <ng-container actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
  </ng-container>
  <ng-container actions-right>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      (click)="openCreatePanel()"
      *ngIf="perms.permissionsOnly(PK.MANAGE_SETTINGS)"
    >
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>

<nz-drawer
  [nzWidth]="820"
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showCreateCaregiver"
  nzPlacement="right"
  [nzTitle]="caregiver?.id ? ('core.editCaregiver' | translate) : ('core.createCaregiver' | translate)"
  (nzOnClose)="closeCreatePanel()"
>
  <app-form
    class="mt-3"
    [form]="caregiverForm"
    [formData]="caregiver"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [inputMode]="true"
    [showCancelButton]="false"
    (submitForm)="onSubmitForm($event)"
  >
  </app-form>

  <div style="margin-top: 25px">
    <nz-table [nzFrontPagination]="false" #basicTable [nzData]="caregiver?.patientCaregivers">
      <thead>
        <tr>
          <th>{{ 'caregiver.patient' | translate }}</th>
          <th>{{ 'caregiver.birthDate' | translate }}</th>
          <th>{{ 'caregiver.medicalRecordNumber' | translate }}</th>
          <th>{{ 'caregiver.relationToPatient' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="onAction1(data)">
          <td>{{ data.patient.firstName }} {{ data.patient.lastName }}</td>
          <td>{{ data.patient.birthDate }}</td>
          <td>{{ data.patient.medicalRecordNo }}</td>
          <td>{{ data.relation }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-drawer>
