<div class="buttons">
    <button nz-button nzType="primary" (click)="goBack(patient)">Back</button>
</div>
<h1 *ngIf="patientTitle">{{ patientTitle }}</h1>
<div nz-row [nzGutter]="200">
    <div nz-col nzSpan="10">
        <form nz-form [nzLayout]="'inline'" [formGroup]="formGroup" (submit)="onSubmitAssessment()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group class="input-class">
                        <h5>{{ 'createAssessment.title' | translate }}</h5>
                        <!--              <input formControlName="name" nz-input placeholder="Please enter a title" [readonly]="!editMode" />-->
                        <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedAssessment" formControlName="assessmentTypeId">
                            <nz-option *ngFor="let a of assessmentAdministration" [nzLabel]="a.name" [nzValue]="a.id">{{
                a.name
            }}</nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control class="input-class">
                    <h5>{{ 'createAssessment.assessmentManager' | translate }}</h5>
                    <app-user-picker [readonly]="!editMode" [selectedUser]="selectedClinician" (selectUser)="onUserSelect($event)"></app-user-picker>
                    <p>
                        <b>Tip:
                        </b>Only users that share a department with the patient are shown.</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-bottom: 15px">
                <nz-radio-group formControlName="informantType" nzButtonStyle="solid" [nzDisabled]="!editMode" [(ngModel)]="typeSelected" (ngModelChange)="onSelectChange($event)">
                    <h5>Informant Type</h5>
                    <label nz-radio-button nzValue="PATIENT">{{ 'createAssessment.patient' | translate }}</label>
                    <label nz-radio-button nzValue="USER">{{ 'createAssessment.departmentsUser' | translate }}</label>
                    <label nz-radio-button nzValue="CAREGIVER">{{ 'createAssessment.patientsCaregiver' | translate }}</label>
                </nz-radio-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'PATIENT'">
                <nz-input-group>
                    <h5>{{ 'createAssessment.patient' | translate }}</h5>
                    <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" formControlName="informantPatient">
                        <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
            data.label
            }}</nz-option>
                    </nz-select>
                    <p>Self Rating.</p>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'USER'">
                <nz-input-group>
                    <h5>{{ 'createAssessment.departmentsUser' | translate }}</h5>
                    <nz-select [nzBorderless]="!editMode" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" formControlName="informantClinicianId">
                        <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
            data.label
            }}</nz-option>
                    </nz-select>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item *ngIf="typeSelected === 'CAREGIVER'">
                <nz-input-group>
                    <h5>{{ 'createAssessment.patientsCaregiver' | translate }}</h5>
                    <nz-select [nzBorderless]="!editMode" [nzOptions]="options" class="input-class" [nzDisabled]="!editMode" [(ngModel)]="selectedInformant" formControlName="informantCaregiverRelation"></nz-select>
                </nz-input-group>
            </nz-form-item>
            <!-- Start Update -->
            <div *ngIf="isUpdate === true" class="date-picker">
            <nz-form-item>
                <nz-input-group class="date-picker1">
                <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
                <nz-date-picker
                    [nzBorderless]="!editMode"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm"
                    [nzDisabled]="!editMode"
                    [(ngModel)]="deliveryDate"
                    formControlName="deliveryDate"
                    (ngModelChange)="onChangeDelivery($event)"
                ></nz-date-picker>
                </nz-input-group>
            </nz-form-item>
            <nz-form-item>
                <nz-input-group class="date-picker1">
                <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
                <nz-date-picker
                    [nzBorderless]="!editMode"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm"
                    [nzDisabled]="!editMode"
                    [(ngModel)]="expireDate"
                    formControlName="expirationDate"
                    (ngModelChange)="onChangeExpire($event)"
                ></nz-date-picker>
                </nz-input-group>
            </nz-form-item>
            </div>
            <!-- End Update -->

            <!-- Start -->
            <div *ngIf="isUpdate === false">
                <div *ngFor="let control of  datesFieldAsFormArray.controls ;let i = index;" formArrayName='dates' >
                    <div [formGroupName]="i" >
                        <div class="date-picker">
                            <nz-form-item>
                            <nz-input-group class="date-picker1">
                                <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
                                <nz-date-picker
                                [required]="formGroup.controls.emailReminder.value === true"
                                [nzBorderless]="!editMode"
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm"
                                [nzDisabled]="!editMode"
                                formControlName="deliveryDate"
                                ></nz-date-picker>
                            </nz-input-group>
                            </nz-form-item>
                            <nz-form-item>
                            <nz-input-group class="date-picker1">
                                <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
                                <nz-date-picker
                                [nzBorderless]="!editMode"
                                nzShowTime
                                nzFormat="yyyy-MM-dd HH:mm"
                                [nzDisabled]="!editMode"
                                formControlName="expirationDate"
                                ></nz-date-picker>
                            </nz-input-group>
                            </nz-form-item>
                        <button *ngIf="i !== 0" type="button" (click)="remove(i)" nz-button nzShape="circle"><span nz-icon nzType="delete"></span></button>
                        </div>
                    </div>
                    </div>
                    <button (click)="addControl()" [disabled]="!editMode" type="button" nz-button nzShape="circle"><span nz-icon nzType="plus"></span></button>
                </div>
            <!-- End -->
            <div *ngIf="hasEmail">
                <h5 style="margin-top: 20px">Send Email</h5>
                <div class="email-label-wrapper">
                    <label [disableControl]="!editMode" formControlName="emailReminder" [nzTooltipPlacement]="['topLeft', 'leftTop']" nz-tooltip nzTooltipTitle="Email will be sent on the selected delivery date!" class="email-label" [(nzChecked)]="checked" nz-checkbox>Sent assessment via email</label>
                    <input *ngIf="isUpdate" [disableControl]="!editMode" formControlName="receiverEmail" style="width: 240px;" nz-input placeholder="patientemail@domain.com" [(ngModel)]="fullAssessment.receiverEmail" />
                    <input *ngIf="!isUpdate" [disableControl]="!editMode" formControlName="receiverEmail" style="width: 240px;" nz-input placeholder="patientemail@domain.com" [(ngModel)]="patientEmail" />
                </div>
                <nz-form-item style="margin-bottom: 15px; min-width: 250px;">
                    <nz-input-group *ngIf="formGroup.controls.emailReminder.value === true">
                        <nz-select [nzDisabled]="!editMode" formControlName="mailTemplateId" nzPlaceHolder="Please select the email template">
                        <nz-option *ngFor="let template of emailTemplates" [nzValue]="template.id" [nzLabel]="template.name"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-item>
            </div>
            <nz-form-item>
                <nz-input-group class="input-class">
                    <h5>{{ 'createAssessment.notes' | translate }}</h5>
                    <nz-textarea-count [nzMaxCharacterCount]="200" placeholder="Write notes">
                        <textarea [disableControl]="!editMode" formControlName="note" [(ngModel)]="noteValue" nz-input [disabled]="!editMode"></textarea>
                    </nz-textarea-count>
                </nz-input-group>
            </nz-form-item>
            <div *ngIf="editMode" style="margin-top: 20px; display: flex; justify-content: space-between">
                <button nz-button class="button" style="margin-right: 10px" (click)="editMode = !editMode">Cancel</button>
                <button nz-button nzType="primary" class="button" [disabled]="!formGroup.valid">Submit</button>
            </div>
            <button nz-button nzType="primary" type="button" *ngIf="!editMode" (click)="editMode = !editMode">
                Edit Note
            </button>
        </form>
    </div>
    <div nz-col class="questionnaire" nzSpan="14">
        <h4>{{ 'questionnaireSelection.selectQuestionnaires' | translate }}</h4>
        <app-questionnaire-selection [readonly]="!editMode" [selectedQuestionnaires]="selectedQuestionnaires" (selectionChange)="onQuestionnaireSelected($event)"></app-questionnaire-selection>
        <!--  -->
        <hr>
        <h4>Select Bundles</h4>
        <nz-select style="width: 100%;" nzMode="multiple" nzPlaceHolder="Select your bundle..." [(ngModel)]="listOfSelectedBundles" (ngModelChange)="onBundleSelection()">
        <nz-option *ngFor="let option of listOfBundles" [nzLabel]="option?.node?.name" [nzValue]="option"></nz-option>
        </nz-select>
        <br />
        <br />
        <!--  -->
    </div>
</div>
<!--  -->
<hr>
<div style="margin-top: 15px; margin-bottom: 15px;">
    <h5>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        Questionnaire Link</h5>
    <br/>
</div>
<div class="link-container" *ngIf="fullAssessment?.uuid !== null && fullAssessment?.uuid !== undefined">
    <a style="margin-right: 10px;" target="_blank" [href]="assessmentUrl">{{ this.assessmentUrl?.toString().slice(0, 50) }}...</a>
    <button (click)="copyAssessmentLink(this.assessmentUrl)" nz-button nzType="default" nzShape="circle"><span nz-icon nzType="copy"></span></button>
</div>
