<div class="buttons">
  <button nz-button nzType="primary" (click)="goBack(patient)">Back</button>
</div>
<h1 *ngIf="patientTitle">{{ patientTitle }}</h1>
<div class="main-div">
  <div class="form-div">
    <section nz-col nzSpan="12">
      <form nz-form [nzLayout]="'inline'" [formGroup]="formGroup" (submit)="onSubmitAssessment()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group class="input-class">
              <h5>{{ 'createAssessment.title' | translate }}</h5>
              <input formControlName="name" nz-input placeholder="Baseline" [readonly]="!editMode" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control class="input-class">
            <h5>{{ 'createAssessment.assessmentManager' | translate }}</h5>
            <app-user-picker
              [readonly]="!editMode"
              [selectedUser]="selectedClinician"
              (selectUser)="onUserSelect($event)"
            ></app-user-picker>
            <p><b>Tip: </b>Only users that share a department with the patient are shown.</p>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: 15px">
          <nz-radio-group
            formControlName="informationType"
            nzButtonStyle="solid"
            [nzDisabled]="!editMode"
            [(ngModel)]="typeSelected"
            (ngModelChange)="onSelectChange($event)"
          >
            <h5>Informant Type</h5>
            <label nz-radio-button nzValue="Informant Patient">{{ 'createAssessment.patient' | translate }}</label>
            <label nz-radio-button nzValue="Departments User">{{
              'createAssessment.departmentsUser' | translate
            }}</label>
            <label nz-radio-button nzValue="Patients Caregiver">{{
              'createAssessment.patientsCaregiver' | translate
            }}</label>
          </nz-radio-group>
        </nz-form-item>
        <nz-form-item *ngIf="typeSelected === 'Informant Patient'">
          <nz-input-group>
            <h5>{{ 'createAssessment.patient' | translate }}</h5>
            <nz-select
              [nzBorderless]="!editMode"
              class="input-class"
              [nzDisabled]="!editMode"
              [(ngModel)]="selectedInformant"
              formControlName="informantPatient"
            >
              <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
                data.label
              }}</nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item *ngIf="typeSelected === 'Departments User'">
          <nz-input-group>
            <h5>{{ 'createAssessment.departmentsUser' | translate }}</h5>
            <nz-select
              [nzBorderless]="!editMode"
              class="input-class"
              [nzDisabled]="!editMode"
              [(ngModel)]="selectedInformant"
              formControlName="informantClinicianId"
            >
              <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
                data.label
              }}</nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item *ngIf="typeSelected === 'Patients Caregiver'">
          <nz-input-group>
            <h5>{{ 'createAssessment.patientsCaregiver' | translate }}</h5>
            <nz-select
              [nzBorderless]="!editMode"
              class="input-class"
              [nzDisabled]="!editMode"
              [(ngModel)]="selectedInformant"
              formControlName="informantCaregiverId"
            >
              <nz-option *ngFor="let data of dataToSelect" [nzLabel]="data.label" [nzValue]="data.value">{{
                data.label
              }}</nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-item>
        <div class="date-picker">
          <nz-form-item>
            <nz-input-group>
              <h5>{{ 'createAssessment.deliveryDate' | translate }}</h5>
              <nz-date-picker
                [nzBorderless]="!editMode"
                class="date-picker1"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm"
                [(ngModel)]="deliveryDate"
                [nzDisabled]="!editMode"
                formControlName="deliveryDate"
                (ngModelChange)="onChangeDelivery($event)"
              ></nz-date-picker>
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group>
              <h5>{{ 'createAssessment.expirationDate' | translate }}</h5>
              <nz-date-picker
                [nzBorderless]="!editMode"
                class="date-picker1"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm"
                [(ngModel)]="expireDate"
                [nzDisabled]="!editMode"
                formControlName="expirationDate"
                (ngModelChange)="onChangeExpire($event)"
              ></nz-date-picker>
            </nz-input-group>
          </nz-form-item>
        </div>
        <nz-form-item>
          <nz-input-group class="input-class">
            <h5>{{ 'createAssessment.notes' | translate }}</h5>
            <nz-textarea-count [nzMaxCharacterCount]="200" placeholder="Write notes">
              <textarea formControlName="note" [(ngModel)]="noteValue" nz-input [disabled]="!editMode"></textarea>
            </nz-textarea-count>
          </nz-input-group>
        </nz-form-item>
        <div *ngIf="editMode" style="margin-top: 20px; display: flex; justify-content: space-between">
          <button nz-button class="button" style="margin-right: 10px">Cancel</button>
          <button nz-button nzType="primary" class="button" [disabled]="!formGroup.valid">Submit Session</button>
        </div>
        <button nz-button nzType="primary" type="button" *ngIf="!editMode" (click)="onSubmitAssessment()">
          Edit Note
        </button>
      </form>
    </section>
  </div>
  <div>
    <section nz-col class="questionnaires" class="questionnaire">
      <h4>Select Questionnaires</h4>
      <app-questionnaire-selection
        [readonly]="!editMode"
        [selectedQuestionnaires]="selectedQuestionnaires"
        (selectionChange)="onQuestionnaireSelected($event)"
      ></app-questionnaire-selection>
    </section>
  </div>
</div>
