<app-custom-table
  [showFilterButton]="true"
  (onFilterButton)="showFilterPanelAction()"
  [loading]="isLoading"
  [showCustomActions]="true"
  [listOfCustomActions]="actions"
  (onAction)="onCustomActionEvent($event)"
  [listOfData]="usersTable.rows"
  [listOfColumn]="usersTable.columns"
  [showButton]="true"
  [buttonText]="'Add User'"
  (onButton)="onCreateUser()"
>
</app-custom-table>
<nz-modal
  *ngIf="modalType"
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
>
  <app-field-generator
    [isLoading]="isLoading"
    [loadingMessage]="loadingMessage"
    (submitForm)="changePassword($event)"
    [form]="changePasswordForm"
  ></app-field-generator>
</nz-modal>
<nz-drawer
  [nzClosable]="false"
  [nzVisible]="showFilterPanel"
  nzPlacement="right"
  nzTitle="Filter Users"
  (nzOnClose)="closeFilterPanel()"
>
  <app-custom-filter [form]="filterForm" (submitForm)="filterEvent($event)"></app-custom-filter>
</nz-drawer>
