<app-custom-table
  [showSearch]="false"
  [buttonText]="'Add User'"
  [showFilterButton]="true"
  [loading]="isLoading"
  [showCustomActions]="true"
  [listOfCustomActions]="actions"
  [listOfData]="usersTable.rows"
  [listOfColumn]="usersTable.columns"
  [showPagination]="false"
  [showButton]="true"
  [hasPreviousPage]="pageInfo?.hasPreviousPage"
  [hasNextPage]="pageInfo?.hasNextPage"
  (onNext)="navigatePages('next')"
  (onPrevious)="navigatePages('previous')"
  (onAction)="onCustomActionEvent($event)"
  (onFilterButton)="showFilterPanelAction()"
  (onButton)="onCreateUser()"
  (rowClick)="handleRowClick($event)"
>
</app-custom-table>
<nz-modal
  *ngIf="modalType"
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
>
  <app-field-generator
    [isLoading]="isLoading"
    [loadingMessage]="loadingMessage"
    (submitForm)="changePassword($event)"
    [form]="changePasswordForm"
  ></app-field-generator>
</nz-modal>
<nz-drawer
  [nzMask]="false"
  [nzClosable]="true"
  [nzVisible]="showFilterPanel"
  nzPlacement="right"
  nzTitle="Filter Users"
  (nzOnClose)="closeFilterPanel()"
>
  <app-custom-filter [form]="filterForm" (submitForm)="filterEvent($event)"></app-custom-filter>
</nz-drawer>
