<app-custom-table
  *ngIf="perms.permissionsOnly(['view users'])"
  [showSearch]="false"
  [buttonText]="'Add User'"
  [showFilterButton]="true"
  [loading]="isLoading"
  [showCustomActions]="perms.permissionsOnly(['manage users'])"
  [listOfCustomActions]="actions"
  [listOfData]="usersTable.rows"
  [listOfColumn]="usersTable.columns"
  [showPagination]="false"
  [showButton]="perms.permissionsOnly(['manage users'])"
  [hasPreviousPage]="pageInfo?.hasPreviousPage"
  [hasNextPage]="pageInfo?.hasNextPage"
  (onNext)="navigatePages('next')"
  (onPrevious)="navigatePages('previous')"
  (onAction)="onCustomActionEvent($event)"
  (onFilterButton)="showFilterPanelAction()"
  (onButton)="onCreateUser()"
  (rowClick)="handleRowClick($event)"
>
</app-custom-table>

<nz-drawer
  [nzMask]="false"
  [nzClosable]="true"
  [nzVisible]="showFilterPanel"
  nzPlacement="right"
  nzTitle="Filter Users"
  (nzOnClose)="closeFilterPanel()"
>
  <app-custom-filter [form]="filterForm" (submitForm)="filterEvent($event)"></app-custom-filter>
</nz-drawer>
