.page_404 {
  padding: 40px 0;
  background: #fff;
  text-align: center;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  height: 400px;
  background: url("../../../../assets/images/not-found.gif") no-repeat center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}
