<p class="info-tip">
  <span nz-icon nzType="info-circle" nzTheme="outline"></span> Please use
  <a target="_blank" href="https://getodk.org/xlsform/">this</a> website to check the validity of your XSL form before
  uploading.
</p>
<div class="parent-div">
  <div class="form-div">
    <app-form
      class="mt-3"
      [form]="form"
      [formData]="formData"
      [isLoading]="loading"
      [populateForm]="populateForm"
      [resetForm]="resetForm"
      [inputMode]="inputMode"
      [showCancelButton]="false"
      [showEditButton]="perms.permissionsOnly(PK.MANAGE_QUESTIONNAIRES)"
      (submitForm)="onSubmit($event)"
      (inputModeChanged)="inputMode = $event"
    ></app-form>
  </div>
  <div class="keyword-container">
    <p class="keyword-title"><b>Keywords</b></p>
    <nz-select
      nz-tooltip
      [nzTooltipTitle]="titleTemplate"
      nzTooltipPlacement="bottomLeft"
      [disabled]="!inputMode"
      nzMode="tags"
      nzPlaceHolder="Keywords"
      [(ngModel)]="listOfTagOptions"
    >
      <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
    </nz-select>
    <div class="margin-top">
      <p class="keyword-title"><b>Description</b></p>
      <angular-editor
        [config]="editorConfig"
        [placeholder]="'Enter description here...'"
        [(ngModel)]="customDescription"
      ></angular-editor>
    </div>
  </div>
  <ng-template #titleTemplate>
    <span>Type and press "Enter" to add the keyword!</span>
  </ng-template>
</div>
