<ng-template #questionnaireItem let-questionnaire>
  <div>
    <span class="questionnaire-title">{{ questionnaire.name }}</span>
    <nz-tag nzColor="blue">{{ questionnaire.questionnaire.language }}</nz-tag>
    <nz-tag [nzColor]="tagColor(questionnaire.status)">{{ questionnaire.status }}</nz-tag>
  </div>
</ng-template>

<article>
  <section>
    <app-master-data-search (search)="onQuestionnaireSearch($event)"></app-master-data-search>
  </section>
  <section>
    <nz-list nzBordered nzHeader="Found Questionnaires">
      <nz-list-item *ngIf="!foundQuestionnaires?.length">No results</nz-list-item>
      <nz-list-item *ngFor="let questionnaire of foundQuestionnaires">
        <ng-container
          [ngTemplateOutlet]="questionnaireItem"
          [ngTemplateOutletContext]="{ $implicit: questionnaire }"
        ></ng-container>
        <button
          nz-button
          [nzType]="isSelected(questionnaire) ? 'danger' : 'primary'"
          nzShape="circle"
          [disabled]="isDisabled(questionnaire)"
          (click)="onToggleQuestionnaire(questionnaire)"
        >
          <i nz-icon [nzType]="isSelected(questionnaire) ? 'minus' : 'plus'"></i>
        </button>
      </nz-list-item>
    </nz-list>
  </section>
  <section>
    <nz-list nzBordered nzHeader="Selected Questionnaires">
      <nz-list-item *ngIf="!selectedQuestionnaires?.length">
        Search and select questionnaires to add to the assessment
      </nz-list-item>
      <nz-list-item *ngFor="let questionnaire of selectedQuestionnaires">
        <ng-container
          [ngTemplateOutlet]="questionnaireItem"
          [ngTemplateOutletContext]="{ $implicit: questionnaire }"
        ></ng-container>
        <div>
          <button
            nz-button
            nzShape="circle"
            [disabled]="!canMove('down', questionnaire)"
            (click)="move('down', questionnaire)"
          >
            <i nz-icon nzType="down"></i>
          </button>
          <button
            nz-button
            nzShape="circle"
            [disabled]="!canMove('up', questionnaire)"
            (click)="move('up', questionnaire)"
          >
            <i nz-icon nzType="up"></i>
          </button>
          <button nz-button nzType="danger" nzShape="circle" (click)="onToggleQuestionnaire(questionnaire)">
            <i nz-icon nzType="minus"></i>
          </button>
        </div>
      </nz-list-item>
    </nz-list>
  </section>
</article>
