<ng-template #questionnaireItem let-questionnaire>
  <div>
    <nz-tag nzColor="blue">{{ questionnaire?.language }}</nz-tag>
    <nz-tag [nzColor]="tagColor(questionnaire.status)">{{ questionnaire.status }}</nz-tag>
  </div>
</ng-template>

<article>
  <ng-container *ngIf="!readonly">
    <section>
      <nz-select
      style="width: 100%;"
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search"
      [nzShowArrow]="true"
      (nzOnSearch)="onQuestionnaireSearchNew('')"
      [nzOptionHeightPx]="80"
      (keyup)="onQuestionnaireSearch($event.target.value)"
    >
      <nz-option *ngFor="let o of foundQuestionnaires" [nzValue]="o.value" [nzCustomContent]="true">
        <nz-list>
          <nz-list-item *ngIf="!foundQuestionnaires?.length">{{
            'questionnaireSelection.noResult' | translate
          }}</nz-list-item>
          <nz-list-item>
            <ng-template #questionnaireItemSearch let-questionnaire>
              <div>
                <span class="questionnaire-title">{{ questionnaire.name }}</span>
                <nz-tag nzColor="blue">{{ questionnaire?.language }}</nz-tag>
                <nz-tag [nzColor]="tagColor(questionnaire.status)">{{ questionnaire.status }}</nz-tag>
                <ng-container *ngIf="questionnaire.keywords?.length !== 0">
                  <nz-tag class="keyword-tag" *ngFor="let keyword of questionnaire.keywords" [nzColor]="'purple'">{{ keyword }}</nz-tag>
                </ng-container>
              </div>
            </ng-template>
            <ng-container
              [ngTemplateOutlet]="questionnaireItemSearch"
              [ngTemplateOutletContext]="{ $implicit: o }"
            ></ng-container>
            <button
              class="add-remove-button"
              nz-button
              [nzType]="isSelected(o) ? 'danger' : 'primary'"
              nzShape="circle"
              [disabled]="isDisabled(o)"
              (click)="onToggleQuestionnaire(o)"
            >
              <i nz-icon [nzType]="isSelected(o) ? 'minus' : 'plus'"></i>
            </button>
          </nz-list-item>
        </nz-list>
      </nz-option>
    </nz-select>
    </section>
  </ng-container>
  <section>
    <h5>{{'questionnaireSelection.selectedQuestionnaires' | translate}} ({{ selectedQuestionnaires?.length }})</h5>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12" class="m-right spacer-class" *ngFor="let questionnaire of selectedQuestionnaires; let i = index">
        <ng-template class="header-title" #dummy>
          <div class="header-container">
            <p>{{ questionnaire.name }}</p>
            <span
              nz-popover
              [nzPopoverTitle]="questionnaire?.name"
              [nzPopoverContent]="questionnaire.questionnaire?.abbreviation"
              (click)="showModal(questionnaire)"
              style="font-size: 18px"
              nz-icon
              nzType="info-circle"
              nzTheme="outline"
            ></span>
          </div>
        </ng-template>
        <!-- Modal -->
        <app-questionnaire-modal
          *ngIf="questionnareActive"
          (handleCancelEvent)="handleCancel()"
          (handleOkEvent)="handleOk()"
          [isVisible]="isVisible"
          [questionnaire]="questionnareActive"
        ></app-questionnaire-modal>
        <!-- Modal End -->
        <nz-list nzBordered [nzHeader]="dummy">
          <nz-list-item *ngIf="!selectedQuestionnaires?.length">
            {{ 'questionnaireSelection.searchSelect' | translate }}
          </nz-list-item>
          <nz-list-item>
            <ng-container
              [ngTemplateOutlet]="questionnaireItem"
              [ngTemplateOutletContext]="{ $implicit: questionnaire }"
            ></ng-container>
            <div *ngIf="!readonly">
              <button
                nz-button
                nzSize="small"
                nzShape="circle"
                [disabled]="!canMove('down', questionnaire)"
                (click)="move('down', questionnaire)"
              >
                <i nz-icon nzType="down"></i>
              </button>
              <button
                nz-button
                nzSize="small"
                nzShape="circle"
                [disabled]="!canMove('up', questionnaire)"
                (click)="move('up', questionnaire)"
              >
                <i nz-icon nzType="up"></i>
              </button>
              <button
                nz-button
                nzSize="small"
                nzType="danger"
                nzShape="circle"
                (click)="onToggleQuestionnaire(questionnaire)"
              >
                <i style="color: white" nz-icon nzType="delete"></i>
              </button>
            </div>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </section>
</article>
