article section + section {
  margin-top: 1em;
}

.questionnaire-title {
  display: block;
  margin-bottom: 0.4em;
}

p {
  color: #000000d9;
  font-weight: bold;
}

.w-max {
  width: 100%;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nz-empty{
  display: none !important;
}

.spacer-class{
  margin-top: 15px;
}

.keyword-tag{
  border-radius: 10px;
}

.add-remove-button{
  position: absolute;
  left: 90%;
}

@media only screen and (max-width: 1080px) {
  .add-remove-button{
    position: absolute;
    margin-left: -2%;
  }
}
