<nz-card nzTitle="Informants ({{ informantsTable.rows.length }})" [nzExtra]="addClinician">
  <div nz-row>
    <div nz-col nzSpan="24">
      <app-custom-table
        [loading]="isLoading"
        [showPagination]="false"
        [showCustomActions]="true"
        [showSearch]="false"
        [listOfCustomActions]="actions"
        [listOfData]="informantsTable.rows"
        [listOfColumn]="informantsTable.columns"
        [showCheckBoxColumn]="false"
        (onAction)="handleActionClick($event)"
        [showButton]="false"
      >
      </app-custom-table>
    </div>
  </div>
</nz-card>
<ng-template #addClinician>
  <button nz-button (click)="handleAssign()" nzType="primary">Add informant to patient</button>
</ng-template>
<nz-modal
  [nzWidth]="600"
  [(nzVisible)]="isVisible"
  nzTitle="Assign Case manager to Jon Konjufca"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleCancel()"
  [nzOkLoading]="isOkLoading"
>
  <nz-input-group class="rounded-input" [nzSuffix]="suffixTemplate">
    <input
      type="text"
      ([ngModel])="(searchKeyword)"
      (keyup)="searchUsers(keyUp.next($event))"
      nz-input
      placeholder="search case manager name"
    />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i nz-icon nzType="search" nzTheme="outline"></i>
  </ng-template>
  <ul nz-list [nzBordered]="false" [nzDataSource]="users" nzBordered nzSize="large">
    <li nz-list-item *ngFor="let user of users" nzNoFlex>
      <div nz-row>
        <div nz-col nzSpan="8">{{ user.firstName }} {{ user.lastName }}</div>
        <div nz-col nzSpan="12">{{ user.email }}</div>
        <div nz-col nzSpan="4">
          <button
            class="assign-button"
            nz-button
            nzType="primary"
            (click)="assignInformant(user)"
            nzSize="small"
            nzShape="round"
          >
            Assign
          </button>
        </div>
      </div>
    </li>
  </ul>
</nz-modal>
