<div nz-row>
  <div nz-col nzSpan="12" class="patient-details">
    <h4>Jon Konjufca</h4>
    <h3>ID: 1234-543242</h3>
  </div>
  <div nz-col nzSpan="12" class="text-right">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzShape]="'round'" (click)="navigateToQuestionnaire()">
      Start Assessment
    </button>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24" class="questionnaire-description | translate">
    <nz-alert nzType="info" [nzDescription]="description" [nzShowIcon]="true"></nz-alert>
  </div>
</div>

<div nz-row class="mt-3">
  <div nz-col nzSpan="12" class="gutter-row questionnaire" *ngFor="let questionnaire of questionnaires; let i = index">
    <nz-card
      [ngClass]="{ active: i === activeIndex }"
      [nzTitle]="questionnaire.name"
      [nzExtra]="extraTemplate"
      (click)="selectQuestionnaire(i)"
    >
      <p></p>
      <p></p>
      <p>{{ questionnaire.summary }}</p>
      <div nz-row class="footer">
        <div nz-col nzSpan="20" class="filling-time">
          <span>Filling time ~{{ questionnaire.fillingTime }}hrs</span>
        </div>
        <div nz-col nzSpan="4" class="text-right">
          <span [nzTooltipTitle]="questionnaire.description" nz-tooltip>
            <i nz-icon [nzType]="'exclamation-circle'" [nzTheme]="'outline'"></i>
          </span>
        </div>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <div class="extra">{{ i + 1 }}</div>
    </ng-template>
  </div>
</div>

<div nz-row class="mt-3">
  <div nz-col nzSpan="24" class="total-time">
    <span><i nz-icon [nzType]="'clock-circle'" [nzTheme]="'outline'"></i></span>
    <span class="time-text">Estimated time to complete this assessment is 8 hours</span>
  </div>
</div>
