<nz-card nzTitle="Assessments ({{ assessmentsTable.rows.length }})">
  <div nz-row>
    <div nz-col nzSpan="24">
      <app-table
        *ngIf="perms.permissionsOnly(['view assessments'])"
        [loading]="isLoading"
        [showPagination]="false"
        [showCustomActions]="true"
        [showSearch]="true"
        [listOfCustomActions]="actions"
        [listOfData]="assessmentsTable.rows"
        [listOfColumn]="assessmentsTable.columns"
        [showButton]="false"
        [hasNextPage]="pageInfo?.hasNextPage"
        [hasPreviousPage]="pageInfo?.hasPreviousPage"
        (onSearch)="searchAssesments($event)"
        (onNext)="navigatePages('next')"
        (onPrevious)="navigatePages('previous')"
        (onAction)="handleActionClick($event)"
        (rowClick)="handleRowClick($event)"
      >
      </app-table>
    </div>
  </div>
</nz-card>
