<app-master-data-list
  [data]="data"
  [columns]="columns"
  [loading]="isLoading"
  [pageInfo]="pageInfo"
  [actions]="actions"
  (pageChange)="onPageChange($event)"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
>
  <ng-container actions-right>
    <button nz-button nzType="primary" nzShape="circle" (click)="openCreatePanel()">
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>

<nz-drawer
  [nzWidth]="400"
  [nzMask]="true"
  [nzClosable]="true"
  [nzMaskClosable]="false"
  [nzVisible]="showCreateAssessmentAdministration"
  nzPlacement="right"
  [nzTitle]="(assessmentAdministration?.id ? 'tables.assessmentAdministration.edit' : 'tables.assessmentAdministration.create') | translate"
  (nzOnClose)="closeCreatePanel()"
>
  <app-form
    class="mt-3"
    [form]="assessmentAdministrationForm"
    [formData]="assessmentAdministration"
    [isLoading]="isLoading"
    [populateForm]="populateForm"
    [resetForm]="resetForm"
    [inputMode]="true"
    [showCancelButton]="false"
    (submitForm)="onSubmitForm($event)"
  >
  </app-form>
</nz-drawer>
