nz-header {
  position: fixed;
  width: 100%;
  background-color: #f1f4ff;
}

nz-content {
  padding: 0 300px;
  margin-top: 64px;
  background: #fff;
}

.inner-content {
  background: #fff;
  padding: 24px;
}
