img {
    width: 250px;
    padding-top: 30px;
    margin-bottom: 15px;
}

a{
    font-size: 18px;
}

.align-center {
    text-align: center;
}

.heading {
    color: #5d656e
}

.description {
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}