<div nz-row>
    <div nz-col nzSpan="24" class="align-center">
        <img src="../../../../assets/images/logo.svg" alt="">
        <h3 class="heading">Version 2.0.16</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis ipsa placeat pariatur sequi, facere hic voluptatem mollitia quas explicabo sunt quidem iusto odio commodi corrupti, amet corporis velit. Quos assumenda corporis modi magni hic reiciendis atque est harum nostrum ut amet tenetur ab alias nihil ea, deleniti expedita at fugit ex libero, quaerat itaque dolore doloremque unde. Natus esse recusandae delectus quia, a amet atque beatae. Natus perspiciatis similique corrupti tempora, veniam pariatur illo? Quia modi corrupti, cupiditate officia, eligendi unde praesentium excepturi ipsa voluptates nostrum distinctio atque non. Numquam ducimus, quo distinctio velit dolorum provident laboriosam ex dicta placeat quod quidem corporis quibusdam, blanditiis magnam, debitis optio! Natus hic id quae possimus corrupti enim necessitatibus rem nostrum deserunt!</p>
    </div>
</div>
<div nz-row class="description">
    <div nz-col nzSpan="6" class="align-center">
        <a>Github <span nz-icon nzType="github" nzTheme="outline"></span></a>
    </div>
    <div nz-col nzSpan="6" class="align-center">
        <a>Documentation <span nz-icon nzType="file-text" nzTheme="fill"></span></a>
    </div>
    <div nz-col nzSpan="6" class="align-center">
        <a>Linkedin <span nz-icon nzType="linkedin" nzTheme="fill"></span></a>
    </div>
    <div nz-col nzSpan="6" class="align-center">
        <a>Other link <span nz-icon nzType="api" nzTheme="fill"></span></a>
    </div>
</div>
