<app-table
  [showSearch]="false"
  [buttonText]="'Add User '"
  [showFilterButton]="true"
  [loading]="isLoading"
  [showCustomActions]="perms.permissionsOnly([PK.MANAGE_USERS])"
  [listOfCustomActions]="actions"
  [listOfData]="usersTable.rows"
  [listOfColumn]="usersTable.columns"
  [showPagination]="false"
  [showCheckBoxColumn]="false"
  [showButton]="perms.permissionsOnly([PK.MANAGE_USERS])"
  [hasPreviousPage]="pageInfo?.hasPreviousPage"
  [hasNextPage]="pageInfo?.hasNextPage"
  (onNext)="navigatePages('next')"
  [showActionColumn]="false"
  (onPrevious)="navigatePages('previous')"
  (onFilterButton)="showFilterPanelAction()"
  (onButton)="onCreateUser()"
  (rowClick)="handleRowClick($event)"
>
</app-table>
<nz-modal
  *ngIf="modalType"
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
>
  <app-form
    [isLoading]="isLoading"
    [loadingMessage]="loadingMessage"
    (submitForm)="changePassword($event)"
    [form]="updatePasswordForm"
  ></app-form>
</nz-modal>

<nz-drawer
  [nzMask]="false"
  [nzClosable]="true"
  [nzVisible]="showFilterPanel"
  nzPlacement="right"
  nzTitle="Filter Users"
  (nzOnClose)="closeFilterPanel()"
>
  <app-custom-filter [form]="filterForm" (submitForm)="filterEvent($event)"></app-custom-filter>
</nz-drawer>
