article {
  .head-row {
    display: flex;
    justify-content: space-between;
  }

  section + section {
    margin-top: 2em;
  }

  section .question:first-child {
    margin-top: 2em;
  }

  .question {
    display: block;
    margin: 4em 0;
  }
}
