
<article *ngIf="questionnaire">
  <section class="head-row">
    <h2>{{ questionnaire.name }}</h2>
    <ng-container *ngTemplateOutlet="overviewBtn"></ng-container>
  </section>

  <section *ngIf="questionnaire.questionGroups[currentGroupIdx] as group">
    <h3 class="group-title" *ngIf="group.label">{{ group.label }}</h3>
    <ng-container *ngFor="let question of group.questions">
      <app-question *ngIf="isVisible(question)" class="question" [question]="question"></app-question>
    </ng-container>
  </section>

  <!-- <section *ngIf="questionnaire.questionGroups[currentGroupIdx] as test">
    <div *ngFor="let unique of test.uniqueQuestions">
      <div style="display: flex; justify-content: flex-end;">
        <p style="margin-right: 10px; text-align: end;" *ngFor="let choice of unique.choices">{{choice.label}}</p>
      </div>
      <div style="display: flex; justify-content: space-between;" *ngFor="let subQuestion of unique.subQuestions; let i = index">
        <div style="max-width: 450px;">
          <h5>{{subQuestion.label}}</h5>
        </div>
        <div style="list-style: none;">
          <nz-radio-group [(ngModel)]="selectedValues[i]" (ngModelChange)="addAnswer(subQuestion._id, selectedValues[i])">
            <label *ngFor="let choice of unique.choices" nz-radio [nzValue]="choice.name"></label>
          </nz-radio-group>
        </div>
      </div>
    </div>
  </section> -->

  <style>
    td{
      padding: 10px;
    }
  </style>

  <section *ngIf="questionnaire.questionGroups[currentGroupIdx] as test">
    <table *ngFor="let unique of test.uniqueQuestions">
      <tr>
        <td></td>
        <td *ngFor="let choice of unique.choices">{{choice.label}}</td>
      </tr>
      <tr *ngFor="let subQuestion of unique.subQuestions; let i = index">
        <td>
          <h5 style="max-width: 400px; margin-right: 85px;">{{subQuestion.label}}</h5>
        </td>
        <td colspan="100%">
          <nz-radio-group [(ngModel)]="mapped[subQuestion._id]" (ngModelChange)="addAnswer(subQuestion._id, mapped[subQuestion._id])" style="display: flex; width: 100%; justify-content: space-around;">
            <label *ngFor="let choice of unique.choices" nz-radio [nzValue]="choice.name"></label>
          </nz-radio-group>
        </td>
      </tr>
    </table>
  </section>
  
  <section class="controls">
    <button
      nz-button
      nzType="primary"
      [disabled]="currentGroupIdx <= 0"
      (click)="currentGroupIdx = currentGroupIdx - 1;"
    >
      {{ translations.assessmentForm.prev | translate }}
    </button>
    <div class="nav-pills">
      <ng-container *ngFor="let group of questionnaire.questionGroups; let index = index">
        <button
          *ngIf="index === currentGroupIdx; else otherPages"
          nz-button
          nzType="primary"
          nzShape="circle"
          nzSize="small"
          (click)="currentGroupIdx = index;"
        >
          &nbsp;
        </button>
        <ng-template #otherPages>
          <button nz-button nzShape="circle" nzSize="small" (click)="currentGroupIdx = index; scrollToTop();">&nbsp;</button>
        </ng-template>
      </ng-container>
    </div>
    <button
      *ngIf="currentGroupIdx < questionnaire.questionGroups.length - 1; else overviewBtn"
      nz-button
      nzType="primary"
      #targetElement
      (click)="onNext(currentGroupIdx)"
    >
      {{ translations.assessmentForm.next | translate }}
    </button>
  </section>
</article>

<ng-template #overviewBtn>
  <button nz-button nzType="primary" (click)="onNextOverview(currentGroupIdx)" queryParamsHandling="merge">
    {{ translations.assessmentForm.overview | translate }}
  </button>
</ng-template>
