<nz-card
  [nzTitle]="question.label"
  [nzExtra]="hint"
  class="multiline-header"
  [class.required-question]="question.required"
  *ngIf="question.type !== QuestionType.NOTE; else note"
>
  <nz-form-item>
    <nz-form-control>
      <ng-container [ngSwitch]="question.type" *ngIf="question && answer?.question">
        <ng-container *ngSwitchCase="QuestionType.TEXT">
          <textarea
            #textInput
            nz-input
            [required]="question.required"
            [(ngModel)]="answer.textValue"
            (ngModelChange)="answerGiven.next(answer)"
          ></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.DECIMAL">
          <nz-input-number
            [nzStep]="0.1"
            [required]="question.required"
            [(ngModel)]="answer.numberValue"
            (ngModelChange)="answerGiven.next(answer)"
            (keypress)="onKeyPress($event)"
          ></nz-input-number>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.INTEGER">
          <nz-input-number
            [nzStep]="1"
            [required]="question.required"
            [(ngModel)]="answer.numberValue"
            (ngModelChange)="answerGiven.next(answer)"
            (keypress)="onKeyPress($event)"
          ></nz-input-number>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.CHECKBOX">
          <label nz-checkbox [(ngModel)]="answer.booleanValue" (ngModelChange)="addAnswer(answer)"></label>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.DATE">
          <nz-date-picker
            [nzFormat]="dateFormat"
            [(ngModel)]="answer.dateValue"
            (ngModelChange)="answerGiven.next(answer)"
          ></nz-date-picker>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.TIME">
          <input
            #timeInput
            type="time"
            nz-input
            [value]="answer.textValue"
            (change)="answer.textValue = timeInput.value; answerGiven.next(answer)"
          />
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.DATETIME">
          <div class="row">
            <nz-date-picker
              [nzFormat]="this.dateFormat"
              [(ngModel)]="answer.dateValue"
              (ngModelChange)="answerGiven.next(answer)"
            ></nz-date-picker>
            <input
              #timeInput
              type="time"
              nz-input
              [value]="answer.textValue"
              (change)="answer.textValue = timeInput.value; answerGiven.next(answer)"
            />
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.SELECT_ONE">
          <app-select-question
            [question]="question"
            [answer]="answer"
            (answerChange)="addAnswer($event)"
          ></app-select-question>
        </ng-container>
        <ng-container *ngSwitchCase="QuestionType.SELECT_MULTIPLE">
          <app-multiselect-question
            [question]="question"
            [answer]="answer"
            (answerChange)="addAnswer($event)"
          ></app-multiselect-question>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <nz-tag nzColor="warning">
            <i nz-icon nzType="exclamation-circle"></i>
            <span>unsupported question-type "{{ question.type }}"</span>
          </nz-tag>
        </ng-container>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</nz-card>

<ng-template #hint>
  <button
    *ngIf="question.hint"
    nz-button
    nzShape="circle"
    nzSize="small"
    nz-tooltip
    [nzTooltipTitle]="question.hint"
    class="hint"
  >
    <i nz-icon nzType="question"></i>
  </button>
</ng-template>

<ng-template #note>
  <nz-card>
    <div class="note">
      <i nz-icon nzType="exclamation-circle" nzSize="big"></i>
      <p>{{ question.label }}</p>
    </div>
  </nz-card>
</ng-template>
