.reports-container {
  display: flex;
  flex-wrap: wrap;
}

.report-card {
  width: 200px;
  height: 100px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.report-card:hover {
  background: #89d180;
  color: white !important;
}

.title-card {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: inherit;
}

.title-card:hover {
  color: white !important;
}

.description-card {
  text-align: center;
  color: #999999;
}

.description-card:hover {
  color: white !important;
}

.report-card:hover .description-card {
  color: white !important;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
