@import "../../../../../assets/scss/_variables";

nz-tabset {
  position: absolute;
  bottom: -15px;
}

.tab-text {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep {
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-radius: 10px 10px 0 0;
    height: 50px;
    margin-right: 10px;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:hover {
    color: $app-green;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: $app-green;
  }

  .top-tabs .ant-tabs-tab {
    background: #e2e5ef !important;
  }
  .top-tabs .ant-tabs-tab-active {
    background: #fff !important;
  }
}
