nz-tabset {
  position: absolute;
  bottom: -15px;
}

.tab-text{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

::ng-deep {
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border-radius: 10px 10px 0 0;
    height: 50px;
  }
  .top-tabs .ant-tabs-tab{
    background: #E2E5EF !important;
  }
  .top-tabs .ant-tabs-tab-active{
    background: #fff  !important;
  }
}
