<nz-tabset>
  <nz-tab nzTitle="Profile">
    <app-form
      [isLoading]="isLoading"
      [loadingMessage]="loadingMessage"
      [inputMode]="inputMode"
      [showCancelButton]="showCancelButton"
      [showEditButton]="perms.permissionsOnly(['update own profile', 'manage users'])"
      [form]="profileFields"
      (submitForm)="submitForm($event)"
    ></app-form>
  </nz-tab>
  <nz-tab nzTitle="Security" *ngIf="perms.permissionsOnly(['view own profile'])">
    <div nz-row nzGutter="16">
      <div *ngIf="roles.length > 0" nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user.firstName }}'s Roles">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let role of roles">
                <label
                  [disabled]="perms.permissionsOnly(['update own profile', 'manage roles'])"
                  nz-checkbox
                  [nzValue]="role.id"
                  [ngModel]="userHasRole(role.id)"
                  (ngModelChange)="assignRoleToUser(role, $event)"
                  >{{ role.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
        <!--<ng-template #rolesTemplate>
          <a *ngIf="roles.length > 0" nz-button nzSize="small" (click)="submitRoles()">Save</a>
        </ng-template>-->
      </div>
      <div *ngIf="departments.length > 0" nz-col>
        <nz-card style="width: 300px" nzTitle="{{ user.firstName }}'s Departments">
          <nz-checkbox-wrapper style="width: 100%">
            <div nz-row>
              <div nz-col nzSpan="24" *ngFor="let department of departments">
                <label
                  [disabled]="!perms.permissionsOnly(['update own profile', 'manage departments'])"
                  nz-checkbox
                  [nzValue]="department.id"
                  [ngModel]="userHasDepartment(department.id)"
                  (ngModelChange)="assignDepartmentToUser(department, $event)"
                  >{{ department.name }}</label
                >
              </div>
            </div>
          </nz-checkbox-wrapper>
        </nz-card>
        <!--        <ng-template #departmentTemplate>-->
        <!--          <a *ngIf="departments.length > 0" nz-button nzSize="small" (click)="submitDepartments()">Save</a>-->
        <!--        </ng-template>-->
      </div>

      <div nz-col *ngIf="showIfPermissionIs('manage users')">
        <nz-card style="width: 300px" nzTitle="Enable or Disable {{ user.firstName }}">
          <p>To disable and Enable {{ user.firstName }} toggle the switch below.</p>
          <nz-switch (ngModelChange)="activateUser(user)" [(ngModel)]="user.active"></nz-switch>
        </nz-card>
      </div>
      <div
        *ngIf="
          user.id && !isCurrentUser() && perms.permissionsOnly(['manage departments', 'manage users', 'manage roles'])
        "
        nz-col
      >
        <nz-card style="width: 300px" nzTitle="Change {{ user.firstName }}'s password">
          <p>To change password for {{ user.firstName }} toggle the button below.</p>
          <button (click)="showChangePasswordForm()" nz-button nzType="primary">Change Password</button>
        </nz-card>
      </div>
      <div
        *ngIf="
          user.id && !isCurrentUser() && perms.permissionsOnly(['manage departments', 'manage users', 'manage roles'])
        "
        nz-col
      >
        <nz-card style="width: 300px" nzTitle="Delete User {{ user.firstName }} ({{ user.username }})">
          <p>To remove User {{ user.firstName }} toggle the button below.</p>
          <button (click)="handleDeleteAction(user)" nz-button nzType="danger">Delete User</button>
        </nz-card>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
<nz-modal
  [(nzVisible)]="showModal"
  [nzTitle]="modalType?.title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="clickChangePassword()"
>
  <app-form
    [isLoading]="isLoading"
    [showSubmitButton]="false"
    [showCancelButton]="false"
    [loadingMessage]="loadingMessage"
    (submitForm)="submitForm($event)"
    [form]="updatePasswordForm"
  ></app-form>
</nz-modal>
