<app-master-data-list
  [columns]="columns"
  [data]="data"
  [pageInfo]="pageInfo"
  [loading]="isLoading"
  (pageChange)="onPageChange($event)"
  [actions]="actions"
  (sort)="onSort($event)"
  (filter)="onFilter($event)"
  (executeAction)="onAction($event)"
  (rowClick)="onAssessmentSelect($event)"
>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <qrcode [qrdata]="newUrl.toString()" [width]="450" [errorCorrectionLevel]="'M'"></qrcode>
  </ng-container>
</nz-modal>
<ng-template #modalTitle>
  <h5>{{modalData.patient.firstName}} {{modalData.patient.lastName}}</h5>
  <p>{{modalData.assessmentType.name}}</p>
</ng-template>
  <div class="actions-left" actions-left>
    <app-master-data-search (search)="onSearch($event)"></app-master-data-search>
   <label [ngClass]="{'text-green' : onlyMyAssessments}" class="spacer" (ngModelChange)="onMyAssessments()" nz-checkbox [(ngModel)]="onlyMyAssessments">{{ 'assessments.myAssessment' | translate }}</label>
   <label [ngClass]="{'text-green' : onlyArchivedAssessments}" (ngModelChange)="onArchivedAssessments()" nz-checkbox [(ngModel)]="onlyArchivedAssessments">{{ 'assessments.archivedAssessments' | translate }}</label>
   <nz-select style="margin-right: 10px;" nzPlaceHolder="Filter status" [(ngModel)]="statusFilter" (ngModelChange)="onStatusSelect()">
    <nz-option nzValue="EXPIRED" [nzLabel]="'emailStatusFilter.expired' | translate"></nz-option>
    <nz-option nzValue="PLANNED" [nzLabel]="'emailStatusFilter.planned' | translate"></nz-option>
    <nz-option nzValue="PENDING" [nzLabel]="'emailStatusFilter.pending' | translate"></nz-option>
    <nz-option nzValue="OPEN_FOR_COMPLETION" [nzLabel]="'emailStatusFilter.openForCompletion' | translate"></nz-option>
    <nz-option nzValue="PARTIALLY_COMPLETED" [nzLabel]="'emailStatusFilter.partiallyCompleted' | translate"></nz-option>
    <nz-option nzValue="COMPLETED" [nzLabel]="'emailStatusFilter.completed' | translate"></nz-option>
  </nz-select>
   <nz-badge *ngIf="currentFilters || cacheFilters?.and" nz-tooltip [nzTooltipTitle]="badgeTitle" nzDot><span nz-icon nzType="filter"></span></nz-badge>
   <ng-template #badgeTitle>You have {{this.cacheFilters?.and?.length}} active filters on cache. Press the reset button to reset filters.</ng-template>
</div>
  <ng-container actions-right>
    <button nz-button nzType="primary" nzShape="circle" (click)="onPatientSelect()">
      <i nz-icon nzType="plus"></i>
    </button>
  </ng-container>
</app-master-data-list>
