<div class="buttons">
  <button nz-button nzType="primary" (click)="goBack()">Back</button>
  <button *ngIf="patientTitle" nz-button nzType="primary">
    <a href="{{ '/shiny/patient-report?token=' + getToken() + '&patient_id=' + patient.id }}" target="_blank">Report</a>
  </button>
</div>
<h1 *ngIf="patientTitle">{{ patientTitle }}</h1>
<nz-tabset nzSize="large">
  <nz-tab nzTitle="Profile">
    <app-create-patient></app-create-patient>
  </nz-tab>
  <nz-tab *ngIf="patientTitle" nzTitle="Case managers">
    <app-case-managers [managerType]="'caseManager'" [patient]="patient" [showAssignButton]="true" [filter]="filter">
    </app-case-managers>
  </nz-tab>
  <nz-tab *ngIf="patientTitle" nzTitle="Departments">
    <app-patient-departments [patient]="patient"></app-patient-departments>
  </nz-tab>
  <nz-tab *ngIf="patientTitle" nzTitle="Caregivers">
    <app-caregivers-patient [patient]="patient"></app-caregivers-patient>
  </nz-tab>
  <nz-tab *ngIf="patientTitle" nzTitle="Reports">
    <app-reports [patient]="patient"></app-reports>
  </nz-tab>
</nz-tabset>
